# To generate requirements.txt, install pip-tools and run:
#  pip-compile --allow-unsafe --generate-hashes-U requirements.in

wheel>=0.47.0
Pdns-Remotebackend==0.8.0
pyzmq==25.1.2
cython>=3.0.0
setuptools-scm>=10
setuptools<82
