# To generate requirements.txt, install pip-tools and run:
#  pip-compile --generate-hashes -U requirements.in

wheel==0.45.1
setuptools-git==1.2
Sphinx>=1.5.0,!=1.8.0,<2.0
alabaster==0.7.13 # higher versions require Sphinx>3.4
https://github.com/PowerDNS/sphinx-lua/archive/refs/heads/pdns.zip
https://github.com/PowerDNS/sphinx-jsondomain/archive/refs/heads/no-type-links.zip
changelog>=0.5.6,<0.6
sphinxcontrib-httpdomain
sphinxcontrib-fulltoc
docutils!=0.15,<0.18
jinja2<3.1.0
alabaster==0.7.13
pbr # setup-requires for sphinxcontrib-fulltoc
standard.pipes
standard.imghdr
