Sphinx>=1.5.0,!=1.8.0,<2.0
git+https://github.com/pieterlexis/sphinx-lua@pdns
git+https://github.com/pieterlexis/sphinx-jsondomain@no-type-links
git+https://github.com/pieterlexis/sphinx-changelog@render-tags
sphinxcontrib-httpdomain
sphinxcontrib-fulltoc
docutils!=0.15
