# To generate requirements.txt, install pip-tools and run:
#  pip-compile --generate-hashes -U requirements.in

# Sphinx >9 breaks the immaterial theme
# See https://github.com/jbms/sphinx-immaterial/pull/477
Sphinx>=8.2,<9

sphinx-lua-ls>=3.9,<3.10
changelog>=0.6,<0.7
sphinxcontrib-httpdomain
sphinxcontrib-fulltoc
sphinx-immaterial [json]>=0.13,<0.14
jinja2>=3.1.0,<3.2
pbr # setup-requires for sphinxcontrib-fulltoc
standard.pipes
standard.imghdr
