#!/usr/bin/make -f
include /usr/share/dpkg/architecture.mk
include /usr/share/dpkg/pkg-info.mk

# Enable hardening features for daemons
export DEB_BUILD_MAINT_OPTIONS=hardening=+bindnow,+pie
# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# Only enable systemd integration on Linux operating systems
ifeq ($(DEB_HOST_ARCH_OS),linux)
MESON_ARGS += -Dsystemd-service=enabled
DH_ARGS += --with systemd
else
MESON_ARGS += -Dsystemd-service=disabled
endif

# Only disable luajit on arm64
ifneq ($(DEB_HOST_ARCH),arm64)
MESON_ARGS += -Dlua=luajit
else
MESON_ARGS += -Dlua=lua
endif

%:
	dh $@ --buildsystem=meson \
	  $(DH_ARGS)

override_dh_auto_clean:
	rm -f dnslabeltext.cc
	dh_auto_clean

# for atomic support on powerpc (automatic on mipsel)
#LDFLAGS += -latomic
# We need clang (LLVM) to link the Rust static library and the C++ code with LTO enabled
# build-id SHA1 prevents an issue with the debug symbols ("export: `-Wl,--build-id=sha1': not a valid identifier")

override_dh_auto_configure:
	LDFLAGS="-latomic -fuse-ld=lld -Wl,--build-id=sha1" \
	CC=clang \
	CXX=clang++ \
	PKG_CONFIG_PATH=/opt/lib/pkgconfig dh_auto_configure -- \
	  --sysconfdir=/etc/dnsdist \
	  -Dunit-tests=true \
	  -Db_lto=true \
	  -Db_lto_mode=thin \
	  -Db_pie=true \
	  -Ddns-over-https=true \
	  -Ddns-over-quic=true \
	  -Ddns-over-http3=true \
	  -Ddns-over-tls=true \
	  -Ddnscrypt=enabled \
	  -Ddnstap=enabled \
	  -Dyaml=enabled \
	  -Debpf=enabled \
	  -Dyaml=enabled \
	  -Dtls-gnutls=enabled \
	  -Dsnmp=true \
	  -Dlibcap=enabled \
	  -Dlibsodium=enabled \
	  -Dquiche=enabled \
	  -Dre2=enabled \
	  -Dsystemd-service-user='_dnsdist' \
	  -Dsystemd-service-group='_dnsdist' \
	  -Dxsk=disabled \
	  $(MESON_ARGS)

override_dh_auto_build-arch:
	dh_auto_build

override_dh_install:
	dh_auto_install
	install -Dm644 /usr/lib/$(DEB_HOST_MULTIARCH)/libdnsdist-quiche.so debian/dnsdist/usr/lib/$(DEB_HOST_MULTIARCH)/libdnsdist-quiche.so
ifeq ($(DEB_HOST_ARCH_BITS),32)
	echo RestrictAddressFamilies is broken on 32bit, removing it from service file
	perl -ni -e 'print unless /RestrictAddressFamilies/' debian/dnsdist/lib/systemd/system/*.service
else
	echo Keeping RestrictAddressFamilies in debian/dnsdist/lib/systemd/system/*.service
endif

override_dh_installexamples:
	cp dnsdist.conf-dist dnsdist.conf
	dh_installexamples
	rm -f dnsdist.conf

override_dh_installinit:
	# do nothing here. avoids referencing a non-existant init script.

override_dh_fixperms:
	dh_fixperms
        # these files often contain passwords. 640 as it is chowned to root:_dnsdist
	touch debian/dnsdist/etc/dnsdist/dnsdist.conf
	chmod 0640 debian/dnsdist/etc/dnsdist/dnsdist.conf

override_dh_builddeb:
	dh_builddeb -- -Zgzip
