[Unit]
Description=PowerDNS Authoritative Server
After=network.target mysqld.service postgresql.service slapd.service

[Service]
Type=forking
ExecStart=/usr/sbin/pdns_server --daemon
ExecStop=/usr/bin/pdns_control quit
Restart=on-failure
RestartSec=2
PrivateTmp=true

[Install]
WantedBy=multi-user.target
