[Unit]
Description=PowerDNS recursing nameserver
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=/usr/sbin/pdns_recursor --daemon
PrivateTmp=true

[Install]
WantedBy=multi-user.target
