[Unit]
Description=PowerDNS recursing nameserver
Documentation=man:pdns_recursor(1) man:rec_control(1)
Wants=network-online.target nss-lookup.target
Before=nss-lookup.target
After=network-online.target

[Service]
Type=forking
ExecStart=/usr/sbin/pdns_recursor --daemon
PrivateTmp=true

[Install]
WantedBy=multi-user.target
