[Unit]
Description=PowerDNS recursing nameserver
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/pdns_recursor --daemon
PrivateTmp=true

[Install]
WantedBy=multi-user.target
