[Unit]
Description=PowerDNS Recursor
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/pdns_recursor --daemon=no
PrivateTmp=true

[Install]
WantedBy=multi-user.target
