#!/usr/bin/make -f

# Enable hardening features for daemons
# Note: blhc (build log hardening check) will find these false positives: CPPFLAGS 2 missing, LDFLAGS 1 missing
export DEB_BUILD_MAINT_OPTIONS=hardening=+bindnow,+pie
DPKG_EXPORT_BUILDFLAGS = 1
# Include buildflags.mk so we can append to the vars it sets.
include /usr/share/dpkg/buildflags.mk

ENABLE_SYSTEMD := --enable-systemd --with-systemd=/lib/systemd/system
LIBSYSTEMD_DEV := , libsystemd-dev
DEBHELPER_WITH_SYSTEMD := --with systemd

ENABLE_LIBSODIUM := --enable-libsodium
LIBSODIUM_DEV := , libsodium-dev

ENABLE_NETSNMP := --with-net-snmp
NETSNMP_DEV := , libsnmp-dev

# $(ID) and $(VERSION_ID) come from the environment, source this from /etc/os-release
ifeq ($(ID), ubuntu)
  ifeq ($(VERSION_ID), 14.04)
    # Disable building with and depending on systemd on Ubuntu Trusty
    ENABLE_SYSTEMD=
    LIBSYSTEMD_DEV=
    DEBHELPER_WITH_SYSTEMD=

    # Also disable libsodium
    ENABLE_LIBSODIUM=
    LIBSODIUM_DEV=
  endif
endif

ifeq ($(ID), debian)
  ifeq ($(VERSION_ID), 9)
    # SNMP is linked to OpenSSL 1.0 while we link against OpenSSL 1.1
    ENABLE_NETSNMP = --without-net-snmp
    NETSNMP_DEV =
  endif
endif

debian/control: debian/control.in
	sed -e "s!@LIBSYSTEMDDEV@!$(LIBSYSTEMD_DEV)!" \
	    -e "s!@LIBSODIUMDEV@!$(LIBSODIUM_DEV)!" \
	    -e "s!@LIBSNMPDEV@!$(LIBSNMP_DEV)!" \
	    $< > $@

# Use new build system
%:
	dh $@ \
	  --with autoreconf \
	  --parallel \
	  $(DEBHELPER_WITH_SYSTEMD)

override_dh_auto_configure:
	./configure \
		--host=$(DEB_HOST_GNU_TYPE) \
		--build=$(DEB_BUILD_GNU_TYPE) \
		--prefix=/usr \
		--sysconfdir=/etc/powerdns \
		--mandir=\$${prefix}/share/man \
		--infodir=\$${prefix}/share/info \
		--libdir='$${prefix}/lib/$(DEB_HOST_MULTIARCH)' \
		--libexecdir='$${prefix}/lib' \
		--with-luajit \
		--with-protobuf=yes \
		$(ENABLE_NETSNMP) \
		$(ENABLE_SYSTEMD) \
		$(ENABLE_LIBSODIUM)

override_dh_auto_install:
	./pdns_recursor --config | sed \
	  -e 's!# config-dir=.*!config-dir=/etc/powerdns!' \
	  -e 's!# local-address=.*!local-address=127.0.0.1!' \
	  -e 's!# quiet=.*!quiet=yes!' \
	  -e 's!# setgid=.*!setgid=pdns!' \
	  -e 's!# setuid=.*!setuid=pdns!' \
	  > debian/pdns-recursor/etc/powerdns/recursor.conf
	dh_auto_install -- STRIP_BINARIES=0
	rm -f debian/pdns-recursor/etc/powerdns/recursor.conf-dist

override_dh_strip:
	dh_strip --dbg-package=pdns-recursor-dbg

override_dh_installinit:
	dh_installinit --error-handler=initscript_error -- defaults 19 85

override_dh_auto_test:
	$(MAKE) check || (cat test-suite.log && false)
