---
Language:        Cpp
BasedOnStyle:  WebKit
AccessModifierOffset: -2
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
IndentWidth:     2
ObjCBlockIndentWidth: 2

SortIncludes:    false
