builder/tmp
built_pkgs
Dockerfile-*
.dockerignore
Makefile.docker
**/venv
**/*.1
!.git
*.o
*.la
*.a
config.log
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
mkinstalldirs
stamp-h
stamp-h1
ylwrap
