/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux/*
!/build-aux/gen-version
/config.cache
/config.guess
/config.h
/config.h.in
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/mkinstalldirs
/stamp-h
/stamp-h1
/test-driver
/ylwrap
*.la
*.lo
*.a
*.o
.deps
.libs
.dirstamp
.version
codedocs/Makefile
codedocs/Makefile.in
/config.log
/config.status
/libtool
/compile
/.tags*
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
pdns-*.tar.gz
pdns-*.tar.bz2
regression-tests.recursor/run-auth
.*DS_Store
*~
pdns.pid
pdns_recursor.pid
*.gcda
*.gcno
*.gcov
built_pkgs
*-wal
*-shm
__pycache__
.circleci/config.yml-local
