language: cpp
compiler:
  - gcc
  - clang
before_script:
 - sudo apt-get update
 - sudo apt-get install libboost-all-dev libtolua-dev bc libcdb-dev libnet-dns-perl unbound-host ldnsutils dnsutils bind9utils libtool libcdb-dev xmlto dblatex links asciidoc ruby-json ruby-sqlite3 rubygems libcurl4-openssl-dev ruby1.9.1 socat time
 - sudo sed -i '0,/\[mysqld\]/s//[mysqld]\nskip-character-set-client-handshake/' /etc/mysql/my.cnf
 - sudo restart mysql
 - sudo update-alternatives --set ruby /usr/bin/ruby1.9.1
 - sudo gem install bundler --no-rdoc --no-ri --bindir /usr/local/bin
 - cd regression-tests
 - wget http://s3.amazonaws.com/alexa-static/top-1m.csv.zip
 - unzip top-1m.csv.zip
 - cd ..
 - cd modules/remotebackend
 - sudo bundle install
 - cd ../..
script:
 - ./bootstrap
 - ./configure --with-modules='bind gmysql gpgsql gsqlite3 mydns tinydns remote random' --enable-unit-tests --enable-remotebackend-http --enable-tools
 - make dist
 - make -j 4
 - make -j 4 check
 - cd pdns
 - make -j 4 pdns_recursor
 - ./dist-recursor
 - cd docs
 - make
 - cd ../../regression-tests
 - touch verify-dnssec-zone/allow-missing
 - ./start-test-stop 5300 bind-both
 - ./start-test-stop 5300 bind-dnssec-both
 - ./start-test-stop 5300 bind-dnssec-nsec3-both
 - ./start-test-stop 5300 bind-dnssec-nsec3-optout-both
 - ./start-test-stop 5300 bind-dnssec-nsec3-narrow
 - ./start-test-stop 5300 gmysql-nodnssec-both
 - ./start-test-stop 5300 gmysql-both
 - ./start-test-stop 5300 gmysql-nsec3-both
 - ./start-test-stop 5300 gmysql-nsec3-optout-both
 - ./start-test-stop 5300 gmysql-nsec3-narrow
 - ./start-test-stop 5300 gpgsql-nodnssec
 - ./start-test-stop 5300 gpgsql
 - ./start-test-stop 5300 gpgsql-nsec3
 - ./start-test-stop 5300 gsqlite3-nodnssec
 - ./start-test-stop 5300 gsqlite3
 - ./start-test-stop 5300 gsqlite3-nsec3
 - ./start-test-stop 5300 mydns
 - ./start-test-stop 5300 tinydns
 - ./start-test-stop 5300 remotebackend-pipe
 - ./start-test-stop 5300 remotebackend-pipe-dnssec
 - ./start-test-stop 5300 remotebackend-unix
 - ./start-test-stop 5300 remotebackend-unix-dnssec
 - THRESHOLD=90 TRACE=no ./recursor-test 5300
 - cd ../regression-tests.nobackend/
 - ./runtests
 - test ! -s ./failed_tests
notifications:
  irc:
    channels:
      - "irc.oftc.net#powerdns-dev"
    template:
      - "%{author} @ %{repository} / %{branch} - Build:#%{build_number} : %{message} - Changes: %{compare_url} - Build details: %{build_url}"
    use_notice: true
    skip_join: true
