sudo: required
dist: trusty
language: cpp
compiler:
  - gcc
  - clang
env:
  - PDNS_BUILD_PRODUCT=auth
  - PDNS_BUILD_PRODUCT=ixfrdist

cache:
  - pip

before_script:
  - git describe --always --dirty=+
  - sudo rm -f /etc/apt/sources.list.d/*.list

  ### setup travis environment ###
  - sudo sysctl net.ipv6.conf.lo.disable_ipv6=0
  - export POSIXLY_CORRECT=1
  - export CFLAGS=-O0
  - export CXXFLAGS=-O0
  - export OPTFLAGS=-O0
  - sudo apt-get -qq update
  # you can remove this when updating dist to something newer than trusty
  - pyenv global 2.7
  # needed for virtualenv to use the pyenv python
  - pip install virtualenv

script:
  - ./build-scripts/travis.sh

notifications:
  irc:
    channels:
      - secure: "RDw5WKYf/gS3JnfIdkK51U4K2Xg/WNMn1uB/5AZbHbcqZJ/ZnbILCu0eBC83blQr+UuaQG7/sUFhWbtwoivD2I/4wOQGWIysBEZ8bSoySPSc4u0YU45aPjN+Ohrrp9qw7Smts3tYHbrOqfLfZ39L8lJq06vuMoBp6eHVkSBT7AY="
    template:
      - "%{author} @ %{repository} / %{branch} - Build:#%{build_number} : %{message} - Changes: %{compare_url} - Build details: %{build_url}"
    use_notice: true
    skip_join: true
