language: cpp
compiler:
  - gcc
before_script:
 - sudo apt-get update -qq
 - sudo apt-get install -qq libboost-all-dev libtolua-dev bc libcdb-dev libnet-dns-perl ldnsutils dnsutils libtool libcdb-dev
script:
 - ./bootstrap
 - ./configure --with-modules='gmysq tinydnsl' --with-sqlite3 --enable-unit-tests
 - make -j 4
 - cd pdns
 - make testrunner
 - ./testrunner
 - cd docs
 - make
 - cd ../../regression-tests.nobackend
 - ./runtests
 - cd ../regression-tests
 - touch verify-dnssec-zone/skip
 - ./start-test-stop 5300 bind
 - ./start-test-stop 5300 bind-presigned
 - ./start-test-stop 5300 bind-dnssec
 - ./start-test-stop 5300 bind-dnssec-presigned
 - ./start-test-stop 5300 bind-dnssec-nsec3
 - ./start-test-stop 5300 bind-dnssec-nsec3-presigned
 - ./start-test-stop 5300 bind-dnssec-nsec3-optout
 - ./start-test-stop 5300 bind-dnssec-nsec3-optout-presigned 
 - ./start-test-stop 5300 gmysql-nodnssec
 - ./start-test-stop 5300 gmysql-nodnssec-presigned
 - ./start-test-stop 5300 gmysql
 - ./start-test-stop 5300 gmysql-presigned
 - ./start-test-stop 5300 gmysql-nsec3
 - ./start-test-stop 5300 gmysql-nsec3-presigned
 - ./start-test-stop 5300 gmysql-nsec3-optout
 - ./start-test-stop 5300 gmysql-nsec3-optout-presigned 
 - ./start-test-stop 5300 gmysql-nsec3-narrow
 - ./start-test-stop 5300 tinydns 
notifications:
  irc:
    channels:
      - "irc.oftc.net#powerdns-dev"
    use_notice: true
    skip_join: true
