sudo: required
dist: trusty
language: cpp
compiler:
  - gcc
  - clang
env:
  - PDNS_BUILD_PRODUCT=auth
  - PDNS_BUILD_PRODUCT=recursor
  - PDNS_BUILD_PRODUCT=dnsdist
  - PDNS_BUILD_PRODUCT=ixfrdist

cache:
  - pip
  - directories:
    - $HOME/.pyenv_cache

# this block can go if we ever upgrade the underlying Ubuntu
before_install:
  - |
      PYENV_VERSION='2.7.13' PYENV_VERSION_STRING='Python 2.7.13'
      wget https://github.com/praekeltfoundation/travis-pyenv/releases/download/0.4.0/setup-pyenv.sh
      source setup-pyenv.sh
      rm setup-pyenv.sh

before_script:
  - git describe --always --dirty=+
  - sudo rm -f /etc/apt/sources.list.d/*.list

  ### setup travis environment ###
  - sudo sysctl net.ipv6.conf.lo.disable_ipv6=0
  - export POSIXLY_CORRECT=1
  - export CFLAGS=-O0
  - export CXXFLAGS=-O0
  - export OPTFLAGS=-O0
  - sudo apt-get -qq update

script:
  - ./build-scripts/travis.sh

notifications:
  irc:
    channels:
      - secure: "RDw5WKYf/gS3JnfIdkK51U4K2Xg/WNMn1uB/5AZbHbcqZJ/ZnbILCu0eBC83blQr+UuaQG7/sUFhWbtwoivD2I/4wOQGWIysBEZ8bSoySPSc4u0YU45aPjN+Ohrrp9qw7Smts3tYHbrOqfLfZ39L8lJq06vuMoBp6eHVkSBT7AY="
    template:
      - "%{author} @ %{repository} / %{branch} - Build:#%{build_number} : %{message} - Changes: %{compare_url} - Build details: %{build_url}"
    use_notice: true
    skip_join: true
