[Unit]
Description=PowerDNS Authoritative Server
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/pdns_server --daemon=no
ExecStop=/usr/bin/pdns_control quit
TimeoutStopSec=5
Restart=on-failure
RestartSec=2
PrivateTmp=true

[Install]
WantedBy=multi-user.target
