#!/bin/sh
#
# Load several components for debconf configuration

set -e

. /usr/share/debconf/confmodule

PDNSCONF=/etc/powerdns/pdns.conf

db_version 2.0
if [ ! -f $PDNSCONF ]; then
  db_input medium pdns-server/localaddress || true

  db_go || true
else
  LOCAL=`(cat $PDNSCONF | grep "^local-address=" | awk -F '=' '{print $2}') || true`

  if [ ! -z "$LOCAL" ]; then
    db_set pdns-server/localaddress $LOCAL
  else
    db_set pdns-server/localaddress "0.0.0.0"
  fi

  db_fset pdns-server/localaddress seen true
fi

db_stop || true

exit 0

