#!/usr/bin/make -f

# Backends
backends := bind ldap pipe gmysql godbc gpgsql gsqlite3 geoip lua mydns remote random opendbx tinydns cassandra

DEB_HOST_MULTIARCH  ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

ENABLE_SYSTEMD := --enable-systemd --with-systemd=/lib/systemd/system
LIBSYSTEMD_DEV := , libsystemd-dev
DEBHELPER_WITH_SYSTEMD := --with systemd

ENABLE_LIBSODIUM := --enable-libsodium
LIBSODIUM_DEV := , libsodium-dev

# $(ID) and $(VERSION_ID) come from the environment, source this from /etc/os-release
ifeq ($(ID), ubuntu)
  ifeq ($(VERSION_ID), 14.04)
    # Disable building with and depending on systemd on Ubuntu Trusty
    ENABLE_SYSTEMD=
    LIBSYSTEMD_DEV=
    DEBHELPER_WITH_SYSTEMD=

    # Also disable libsodium
    ENABLE_LIBSODIUM=
    LIBSODIUM_DEV=
  endif
endif

debian/control: debian/control.in
	sed -e "s!@LIBSYSTEMDDEV@!$(LIBSYSTEMD_DEV)!" \
	    -e "s!@LIBSODIUMDEV@!$(LIBSODIUM_DEV)!" $< > $@

# Use new build system
%:
	dh $@ \
	  --with autoreconf \
	  --parallel \
	  $(DEBHELPER_WITH_SYSTEMD)

override_dh_auto_configure:
	test -f pdns/dnslabeltext.cc && mv pdns/dnslabeltext.cc debian/dnslabeltext.cc.moved || true
	./configure \
		--host=$(DEB_HOST_GNU_TYPE) \
		--build=$(DEB_BUILD_GNU_TYPE) \
		--prefix=/usr \
		--sysconfdir=/etc/powerdns \
		--mandir=\$${prefix}/share/man \
		--infodir=\$${prefix}/share/info \
		--libdir='$${prefix}/lib/$(DEB_HOST_MULTIARCH)' \
		--libexecdir='$${prefix}/lib' \
		--with-dynmodules="$(backends)" \
		--with-modules="" \
		--enable-tools \
		--enable-unit-tests \
		--with-luajit \
		--enable-experimental-pkcs11 \
		$(ENABLE_SYSTEMD) \
		$(ENABLE_LIBSODIUM)

# pdns-server has a debug package
override_dh_strip:
	dh_strip --dbg-package=pdns-server-dbg

# Additional permissions
override_dh_fixperms:
	dh_fixperms
	chmod 755 debian/pdns-server/etc/resolvconf/update.d/pdns

override_dh_auto_install:
	dh_auto_install
	rm -f debian/pdns-server/etc/powerdns/pdns.conf-dist

# init script needs to be named pdns, not pdns-server
override_dh_installinit:
	dh_systemd_enable --name=pdns
	dh_installinit --name=pdns
	dh_systemd_start --restart-after-upgrade

override_dh_install:
	dh_install
	./pdns/pdns_server --no-config --config | sed \
	  -e 's!# module-dir=.*!!' \
	  -e 's!# include-dir=.*!&\ninclude-dir=/etc/powerdns/pdns.d!' \
	  -e 's!# launch=.*!&\nlaunch=!' \
	  -e 's!# setgid=.*!setgid=pdns!' \
	  -e 's!# setuid=.*!setuid=pdns!' \
	  > debian/pdns-server/usr/share/pdns-server/pdns.conf

# Verbose build (shows used compiler/linker and their flags)
override_dh_auto_build-arch:
	dh_auto_build -- V=1

# Verbose tests (shows used compiler/linker and their flags)
override_dh_auto_test:
	$(MAKE) -C pdns check || (cat pdns/test-suite.log && false)
	#dh_auto_test -- V=1

# restore moved files
override_dh_clean:
	test -f debian/dnslabeltext.cc.moved && mv debian/dnslabeltext.cc.moved pdns/dnslabeltext.cc || true
	dh_clean
