Source: dnsdist
Section: net
Priority: optional
Maintainer: PowerDNS Autobuilder <powerdns.support@powerdns.com>
Origin: PowerDNS
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.5), autotools-dev, libboost-dev, liblua5.2-dev, libsodium-dev
Standards-Version: 3.9.5
Homepage: http://dnsdist.org

Package: dnsdist
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Powerful, scriptable DNS loadbalancer

Package: dnsdist-dbg
Section: debug
Priority: optional
Depends: dnsdist (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for dnsdist

