[Unit]
Description=DNSdist
After=syslog.target

[Service]
# Keep the --supervised option when modifying the default options
ExecStart=/usr/bin/dnsdist --supervised

[Install]
WantedBy=multi-user.target
