#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

ENABLE_LIBSODIUM := --enable-libsodium --enable-dnscrypt
LIBSODIUM_DEV := , libsodium-dev

ENABLE_SYSTEMD := --enable-systemd --with-systemd=/lib/systemd/system
LIBSYSTEMD_DEV := , libsystemd-dev
DEBHELPER_WITH_SYSTEMD := --with systemd
DH_INSTALLINIT_OVERRIDE := dh_systemd_start --restart-after-upgrade dnsdist.service # Do not stop the service in prerm, but restart during postinst on upgrade
PREPARE_SERVICE := sed -i 's!^ExecStart.*!& -u _dnsdist -g _dnsdist!' dnsdist.service.in
FILES_SYSTEMD := 'lib/systemd/system/dnsdist*'

ENABLE_RE2 := --enable-re2
LIBRE2_DEV := , libre2-dev

# $(ID) and $(VERSION_ID) come from the environment, source this from /etc/os-release
ifeq ($(ID), ubuntu)
  ifeq ($(VERSION_ID), 14.04)
    # Disable building and depending on libsodium on Ubuntu Trusty
    ENABLE_LIBSODIUM=
    ENABLE_SYSTEMD=
    LIBSYSTEMD_DEV=
    LIBSODIUM_DEV=
    DEBHELPER_WITH_SYSTEMD=
    ENABLE_RE2=
    LIBRE2_DEV=
    DH_INSTALLINIT_OVERRIDE=true
    PREPARE_SERVICE=true
    FILES_SYSTEMD=''
  endif
endif

debian/control: debian/control.in
	sed -e "s!@LIBSODIUMDEV@!$(LIBSODIUM_DEV)!" \
	    -e "s!@LIBSYSTEMDDEV@!$(LIBSYSTEMD_DEV)!" \
	    -e "s!@LIBRE2DEV@!$(LIBRE2_DEV)!" $< > $@

debian/dnsdist.install: debian/dnsdist.install.in
	cp $< $@
	echo $(FILES_SYSTEMD) >> $@

%:
	dh $@ \
	  --with autotools-dev \
	  --parallel \
	  $(DEBHELPER_WITH_SYSTEMD)

override_dh_auto_configure:
	$(PREPARE_SERVICE)
	./configure \
	  --host=$(DEB_HOST_GNU_TYPE) \
	  --build=$(DEB_BUILD_GNU_TYPE) \
	  --prefix=/usr \
	  --sysconfdir=/etc/dnsdist \
	  --mandir=\$${prefix}/share/man \
	  --infodir=\$${prefix}/share/info \
	  --libdir='$${prefix}/lib/$(DEB_HOST_MULTIARCH)' \
	  --libexecdir='$${prefix}/lib' \
	  --with-protobuf=yes \
	  --enable-dns-over-tls \
	  --with-net-snmp \
	  --with-lua=luajit \
	  $(ENABLE_SYSTEMD) \
	  $(ENABLE_RE2) \
	  $(ENABLE_LIBSODIUM)

override_dh_auto_build-arch:
	dh_auto_build -- V=1

override_dh_strip:
	dh_strip --dbg-package=dnsdist-dbg

override_dh_auto_test:
	$(MAKE) check || (cat test-suite.log && false)

override_dh_installinit:
	dh_installinit
	$(DH_INSTALLINIT_OVERRIDE)
