#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

ENABLE_LIBSODIUM := --enable-libsodium
LIBSODIUM_DEV := , libsodium-dev

ENABLE_SYSTEMD := --enable-systemd --with-systemd=/lib/systemd/system
LIBSYSTEMD_DEV := , libsystemd-dev
DEBHELPER_WITH_SYSTEMD := --with systemd

# $(ID) and $(VERSION_ID) come from the environment, source this from /etc/os-release
ifeq ($(ID), ubuntu)
  ifeq ($(VERSION_ID), 14.04)
    # Disable building and depending on libsodium on Ubuntu Trusty
    ENABLE_LIBSODIUM=
    ENABLE_SYSTEMD=
    LIBSYSTEMD_DEV=
    LIBSODIUM_DEV=
    DEBHELPER_WITH_SYSTEMD=
  endif
endif

debian/control: debian/control.in
	sed -e "s!@LIBSODIUMDEV@!$(LIBSODIUM_DEV)!" \
	    -e "s!@LIBSYSTEMDDEV@!$(LIBSYSTEMD_DEV)!" $< > $@

%:
	dh $@ \
	  --with autotools-dev \
	  --parallel \
	  $(DEBHELPER_WITH_SYSTEMD)

override_dh_auto_configure:
	./configure \
	  --host=$(DEB_HOST_GNU_TYPE) \
	  --build=$(DEB_BUILD_GNU_TYPE) \
	  --prefix=/usr \
	  --sysconfdir=/etc/dnsdist \
	  --mandir=\$${prefix}/share/man \
	  --infodir=\$${prefix}/share/info \
	  --libdir='$${prefix}/lib/$(DEB_HOST_MULTIARCH)' \
	  --libexecdir='$${prefix}/lib' \
	  --with-protobuf=yes \
	  $(ENABLE_SYSTEMD) \
	  $(ENABLE_LIBSODIUM)

override_dh_auto_build-arch:
	dh_auto_build -- V=1

override_dh_strip:
	dh_strip --dbg-package=dnsdist-dbg
