*.tar.gz
*.tar.bz2
.version
/ext/
/m4/
/Makefile
/Makefile.in
/README.md
/aclocal.m4
/autom4te.cache/
/base32.hh
/base64.hh
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/delaypipe.cc
/delaypipe.hh
/dns.hh
/dnsdist
/dnsdist-lua.cc
/dnsdist-tcp.cc
/dnsdist-web.cc
/dnsdist.1
/dnsdist.cc
/dnsdist.hh
/dnsdistconf.lua
/dnslabeltext.cc
/dnslabeltext.rl
/dnsdist-carbon.cc
/dnsname.cc
/dnsname.hh
/dnsparser.hh
/dnsrulactions.hh
/dnswriter.cc
/dnswriter.hh
/dolog.hh
/htmlfiles.h
/install-sh
/iputils.cc
/iputils.hh
/libtool
/ltmain.sh
/mbedtlscompat.hh
/misc.cc
/misc.hh
/missing
/namespaces.hh
/pdnsexception.hh
/qtype.cc
/qtype.hh
/sholder.hh
/sodcrypto.cc
/sodcrypto.hh
/sstuff.hh
/stamp-h1
/compile
