*.tar.gz
*.tar.bz2
.version
.venv
.dnsdist_history
/stamp-h1
/compile
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/dnsdist.1
/dnslabeltext.cc
/ext/ipcrypt/Makefile
/ext/ipcrypt/Makefile.in
/ext/yahttp/Makefile
/ext/yahttp/Makefile.in
/ext/yahttp/yahttp/Makefile
/ext/yahttp/yahttp/Makefile.in
/htmlfiles.h
/htmlfiles.h.tmp
/install-sh
/libtool
/ltmain.sh
/missing
/testrunner
/dnsdist
/*.pb.cc
/*.pb.h
/dnsdist.service
/dnsdist@.service
/lua.hpp
/test-driver
dnsdist.pdf
html-docs
html-docs.tar.bz2
doctrees/
latex/
.doctrees/
