Source: pdns
Section: net
Priority: extra
Standards-Version: 3.5.8
Maintainer: PowerDNS AutoBuilder
Origin: PowerDNS
Build-Depends: autoconf, libtool, flex, bison, docbook-utils, libmysqlclient-dev, postgresql-dev | libpq-dev, tdb-dev, libgdbm-dev, libldap2-dev, libsqlite3-dev, dpkg-dev (>= 1.10.17), libboost-dev (>=1.34), libboost-program-options-dev, libboost-serialization-dev, pkg-config, ragel, libbotan1.10-dev, liblua5.1-dev, libyaml-cpp-dev (>= 0.5). libgeoip-dev

Package: pdns-static
Architecture: any
Conflicts: pdns-server
Description: PowerDNS nameserver (static version)
 PowerDNS is a versatile nameserver which supports a large number
 of different backends ranging from simple zonefiles to relational
 databases and load balancing/failover algorithms.
 .
 This package contains a statically compiled version of PowerDNS which
 can be used on older Debian releases for which no dynamic version
 is available.

Package: pdns-tools
Architecture: any
Conflicts: pdns-server
Description: PowerDNS tools (static version)
 PowerDNS is a versatile nameserver which supports a large number
 of different backends ranging from simple zonefiles to relational
 databases and load balancing/failover algorithms.
 .
 This package contains a collection of tools based on the core
 PowerDNS libraries.
