/.venv
/*.xml
/*.pid
/pdns.sqlite3
/pdns.lmdb*
/*.controlsocket
/named.conf
/pdns.conf
/*.pyc
/acl.conf
/acl.list
/recursor.conf
/rec-conf.d
/bindbackend.conf
/acl-notify.list
/acl-notify.list.yml
/acl.list.yml
/recursor.yml
/rec-api.d
/ca.key
/ca.pem
/ca.srl
/server.chain
/server.csr
/server.key
/server.pem
/server.p12
