# To generate requirements.txt, install pip-tools and run:
#  pip-compile --allow-unsafe --generate-hashes-U requirements.in

wheel==0.46.3
requests==2.32.4
pytest
parameterized
mysql-connector
psycopg2
