# To generate requirements.txt, install pip-tools and run:
#  pip-compile --generate-hashes -U requirements.in

wheel==0.45.1
requests==2.31.0
pytest
parameterized
mysql-connector
psycopg2
setuptools<82
