/*.xml
/*.tar
/K*
/dnssec-validation-failures
/skipped_tests
/trustedkeys
/test-results
/*.pid
/passed_tests
/failed_tests*
/powerdns.sqlite3
/unbound-host.conf
/*.controlsocket
/pdns-*.conf
/*.sqlite3*
/named-slave.conf
/bulktest.results
/recursor-bulktest/
/recursor.log
/top-1m.csv
/Quantcast-Top-Million.txt
/report.json
/nsd.*
/nsd-slave.*
/dsset-*
/bind.conf
/bind-slave.conf
/remotebackend-access.log
/pdns.lmdb*
/pdns2.lmdb*
/recursor.forward-zones-file
/recursor.trustedkeys.lua
