PREFIX=10.0.3
AUTHRUN="exec authbind ../../../pdns/pdns_server --config-dir=. > logfile 2>&1"
RECRUN="exec authbind ~/pdns/pdns/pdns-recursor-3.4-pre/pdns_recursor --config-dir=. --socket-dir=. --daemon=no --trace=yes --dont-query= --local-address=$PREFIX.9 --forward-zones=example.net=$PREFIX.10 > logfile 2>&1"
