diff
real_result
*.out
/*.xml
/*.tar
/dnssec-validation-failures
/skipped_tests
/test-results
/passed_tests
/failed_tests
/master.db
/pdns-gsqlite3-master.conf
/pdns-gsqlite3-slave.conf
/slave.db
/named.conf
