Source: pdns
Section: net
Priority: extra
Standards-Version: 3.5.8
Maintainer: Wichert Akkerman <wakkerma@debian.org>
Build-Depends: automake1.5, autoconf, libtool, flex, bison, docbook-utils, libmysqlclient10-dev, postgresql-dev, tdb-dev, libgdbm-dev, libpqpp-dev, libldap2-dev

Package: pdns
Architecture: any
Depends: ${shlibs:Depends}
Recommends: pdns-doc
Suggests: pdns-backend
Description: extremely powerful and versatile nameserver
 PowerDNS is a versatile nameserver which supports a large number
 of different backends ranging from simple zonefiles to relational
 databases and load balancing/failover algorithms.

Package: pdns-static
Architecture: any
Recommends: pdns-doc
Description: static version of pDNS
 PowerDNS is a versatile nameserver which supports a large number
 of different backends ranging from simple zonefiles to relational
 databases and load balancing/failover algorithms.
 .
 This package contains a statically compiled version of pDNS which
 can be used on older Debian releases for which no dynamic version
 is available.

Package: pdns-doc
Section: doc
Architecture: all
Description: PowerDNS manual
 This is the complete manual for PowerDNS, documenting both
 how to install and configure it as well as how to write
 new backend modules.

Package: pdns-backend-pipe
Architecture: any
Depends: pdns (= ${dpkg:Version}), ${shlibs:Depends}
Provides: pdns-backend
Description: pipe/coprocess backend for pDNS
 This package contains the pipe backend for the PowerDNS nameserver. This
 allows PowerDNS to retrieve domain info from a process that accepts
 questions on stdin and returns answers on stdout. 

Package: pdns-backend-ldap
Architecture: any
Depends: pdns (= ${dpkg:Version}), ${shlibs:Depends}
Provides: pdns-backend
Description: LDAP backend for pDNS
 This package contains a LDAP backend for the PowerDNS nameserver.

Package: pdns-backend-mysql
Architecture: any
Depends: pdns (= ${dpkg:Version}), ${shlibs:Depends}
Provides: pdns-backend
Description: MySQL backend for pDNS
 This package contains a MySQL backend for the PowerDNS nameserver.

Package: pdns-backend-pgsql
Architecture: any
Depends: pdns (= ${dpkg:Version}), ${shlibs:Depends}
Provides: pdns-backend
Description: Generic PostgreSQL backend for pDNS
 This package contains a generic PostgreSQL backend 
 for the PowerDNS nameserver. It has configurable SQL statements.

Package: pdns-backend-xdb
Architecture: any
Depends: pdns (= ${dpkg:Version}), ${shlibs:Depends}
Provides: pdns-backend
Description: XDB/tdb/gdb backend for pDNS
 This package contains a table backend for PowerDNS. Currently includes TDB,
 the Trivial Database or Tridgell Database.

Package: pdns-backend-oracle
Architecture: any
Depends: pdns (= ${dpkg:Version}), ${shlibs:Depends}
Provides: pdns-backend
Description: Oracle backend for pDNS
 This package contains a generic Oracle backend for PowerDNS.

