Source: pdns
Section: net
Priority: extra
Standards-Version: 3.5.8
Maintainer: bert hubert <bert.hubert@netherlabs.nl>
Build-Depends: autoconf, libtool, flex, bison, docbook-utils, libmysqlclient-dev, postgresql-dev | libpq-dev, libgdbm-dev, libsqlite3-dev, dpkg-dev (>= 1.10.17), libboost-dev (>=1.34), libboost-program-options-dev, libboost-serialization-dev, pkg-config, ragel, libbotan1.10-dev, liblua5.1-dev

Package: pdns-server
Architecture: any
Depends: ${shlibs:Depends}
Recommends: pdns-doc
Suggests: pdns-backend
Description: extremely powerful and versatile nameserver
 PowerDNS is a versatile nameserver which supports a large number
 of different backends ranging from simple zonefiles to relational
 databases and load balancing/failover algorithms.

Package: pdns-server-dbg
Architecture: any
Depends: ${shlibs:Depends}
Recommends: pdns-doc
Suggests: pdns-backend
Provides: pdns-server
Description: PowerDNS server with debugging symbols
 PowerDNS server with debugging symbols

Package: pdns-doc
Section: doc
Architecture: all
Description: PowerDNS manual
 This is the complete manual for PowerDNS, documenting both
 how to install and configure it as well as how to write
 new backend modules.
