#!/bin/sh
#
# Load several components for debconf configuration

set -e

. /usr/share/debconf/confmodule

PDNSCONF=/etc/powerdns/pdns.conf

db_version 2.0
if [ ! -f $PDNSCONF ]; then
  db_input medium pdns-server/localaddress || true
  db_input medium pdns-server/allowrecursion || true
  db_input medium pdns-server/autostart || true

  db_go || true
else
  LOCAL=`(cat $PDNSCONF | grep "^local-address=" | awk -F '=' '{print $2}') || true`
  RECURSION=`(cat $PDNSCONF | grep "^allow-recursion=" | awk -F '=' '{print $2}') || true`

  # Put multiple lines on one line and separate them by a comma
  REC=""
  for i in $RECURSION; do
    REC="$i,$REC"
  done

  # Remove , on the end of the line
  RECURSION=`echo $REC | sed -e 's/,$//'`

  if [ ! -z "$RECURSION" ]; then
    db_set pdns-server/allowrecursion "$RECURSION"
  else
    db_set pdns-server/allowrecursion "127.0.0.1"
  fi
  if [ ! -z "$LOCAL" ]; then
    db_set pdns-server/localaddress $LOCAL
  else
    db_set pdns-server/localaddress "0.0.0.0"
  fi
  if [ -f /etc/default/pdns ]; then
    AUTOSTART=`(cat /etc/default/pdns | grep "^START=" | awk -F '=' '{print $2}') || true`
    case "$AUTOSTART" in
      yes|true)
        db_set pdns-server/autostart true
      ;;
      *)
        db_set pdns-server/autostart false
      ;;
    esac
  else
    # It seems there was not a /etc/default/pdns so assume that we always want
    # to start pdns (<< 2.9.16 assumes that you want it started)
    db_set pdns-server/autostart true
  fi

  db_fset pdns-server/allowrecursion seen true
  db_fset pdns-server/localaddress seen true
  db_fset pdns-server/autostart seen true
fi

db_stop || true

exit 0

