# To generate requirements.txt, install pip-tools and run:
#  pip-compile --generate-hashes -U requirements.in

dnspython>=1.11
pytest
protobuf>=3.0
pyasn1==0.4.8
pysnmp>=5,<6
requests>=2.1.0
Twisted>0.15.0
pyyaml==6.0.1
siphash
setuptools<82
