#!/usr/bin/make -f

clean:
	rm -rf debian/tmp docs/html docs/pdns
	rm -f debian/files debian/substvars
	-make distclean

build:
	CXXFLAGS="-g -O2 -D_GNU_SOURCE" ./configure \
		--prefix=/usr \
		--mandir='$${prefix}'/share/man \
		--libexecdir='$${prefix}'/lib \
		--sysconfdir=/etc
	
	set -e ; cd docs ; db2html -o html pdns.sgml

binary: binary-arch binary-indep

binary-indep:
	@echo No binary-independent packages

binary-arch:
	test `id -u` = 0
	rm -rf debian/tmp
	install -d -m 755 -o root -g root debian/tmp
	chmod g-s debian/tmp
	make DESTDIR=$(shell pwd)/debian/tmp install

	install -d -m 755 -o root -g root debian/tmp/usr/share/doc/pdns/html
	cp -p docs/html/* debian/tmp/usr/share/doc/pdns/html/

	chmod -R g-w debian/tmp

	rm -f debian/tmp/etc/*
	install -d -m 755 -o root -g root debian/tmp/etc/powerdns
	install -p -m 644 -o root -g root debian/pdns.conf \
		debian/tmp/etc/powerdns/

	-strip --strip-unneeded --remove-section=.comment \
		--remove-section=.note \
		debian/tmp/usr/sbin/* debian/tmp/usr/bin/*

	install -d -m 755 -o root -g root debian/tmp/etc/init.d
	install -p -m 755 -o root -g root debian/init.d \
		debian/tmp/etc/init.d/pdns

	install -d -m 755  -o root -g root debian/tmp/usr/share/doc/pdns
	install -p -m 644 -o root -g root debian/changelog \
		debian/tmp/usr/share/doc/pdns/changelog.Debian
	gzip -9f debian/tmp/usr/share/doc/pdns/[^h]*
	install -p -m 644 -o root -g root debian/copyright \
		debian/tmp/usr/share/doc/pdns/
	install -p -m 644 -o root -g root README \
		debian/tmp/usr/share/doc/pdns/README

	install -d -m 755 -o root -g root debian/tmp/DEBIAN
	install -p -m 644 -o root -g root debian/conffiles debian/tmp/DEBIAN/
	install -p -m 755 -o root -g root debian/preinst debian/tmp/DEBIAN/
	install -p -m 755 -o root -g root debian/postinst debian/tmp/DEBIAN/
	install -p -m 755 -o root -g root debian/postrm debian/tmp/DEBIAN/
	install -p -m 755 -o root -g root debian/prerm debian/tmp/DEBIAN/

	dpkg-shlibdeps debian/tmp/usr/sbin/* debian/tmp/usr/bin/[^p]*
	dpkg-gencontrol -isp
	dpkg --build debian/tmp ..


.PHONY: clean build binary binary-arch binary-indep

