#!/usr/bin/make -f
include /usr/share/dpkg/architecture.mk
include /usr/share/dpkg/pkg-info.mk

# Enable hardening features for daemons
export DEB_BUILD_MAINT_OPTIONS=hardening=+bindnow,+pie
# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# for atomic support on powerpc (automatic on mipsel)
LDFLAGS += -latomic

# Only enable systemd integration on Linux operating systems
ifeq ($(DEB_HOST_ARCH_OS),linux)
CONFIGURE_ARGS += --enable-systemd --with-systemd=/lib/systemd/system
DH_ARGS += --with systemd
else
CONFIGURE_ARGS += --disable-systemd
endif

# Only disable luajit on arm64
ifneq ($(DEB_HOST_ARCH),arm64)
CONFIGURE_ARGS += --with-lua=luajit
else
CONFIGURE_ARGS += --with-lua=lua5.3
endif

%:
	dh $@ \
	  --with autoreconf \
	  $(DH_ARGS)

override_dh_auto_clean:
	rm -f dnslabeltext.cc
	dh_auto_clean

override_dh_auto_configure:
	./configure \
	  --host=$(DEB_HOST_GNU_TYPE) \
	  --build=$(DEB_BUILD_GNU_TYPE) \
	  --prefix=/usr \
	  --sysconfdir=/etc/dnsdist \
	  --mandir=\$${prefix}/share/man \
	  --infodir=\$${prefix}/share/info \
	  --libdir='$${prefix}/lib/$(DEB_HOST_MULTIARCH)' \
	  --libexecdir='$${prefix}/lib' \
	  --enable-lto=thin \
	  --enable-dns-over-https \
	  --enable-dns-over-quic \
	  --enable-dns-over-http3 \
	  --enable-dns-over-tls \
	  --enable-dnscrypt \
	  --enable-dnstap \
	  --with-ebpf \
	  --with-gnutls \
	  --with-h2o \
	  --with-net-snmp \
	  --with-libcap \
	  --with-libsodium \
	  --with-quiche \
	  --with-re2 \
	  --with-service-user='_dnsdist' \
	  --with-service-group='_dnsdist' \
	  $(CONFIGURE_ARGS) \
	  PKG_CONFIG_PATH=/opt/lib/pkgconfig

override_dh_auto_build-arch:
	dh_auto_build -- V=1

override_dh_install:
	dh_auto_install
	install -Dm644 /usr/lib/libdnsdist-quiche.so debian/dnsdist/usr/lib/libdnsdist-quiche.so
ifeq ($(DEB_HOST_ARCH_BITS),32)
	echo RestrictAddressFamilies is broken on 32bit, removing it from service file
	perl -ni -e 'print unless /RestrictAddressFamilies/' debian/dnsdist/lib/systemd/system/*.service
else
	echo Keeping RestrictAddressFamilies in debian/dnsdist/lib/systemd/system/*.service
endif

override_dh_installexamples:
	cp dnsdist.conf-dist dnsdist.conf
	dh_installexamples
	rm -f dnsdist.conf

override_dh_installinit:
	# do nothing here. avoids referencing a non-existant init script.

override_dh_fixperms:
	dh_fixperms
        # these files often contain passwords. 640 as it is chowned to root:_dnsdist
	touch debian/dnsdist/etc/dnsdist/dnsdist.conf
	chmod 0640 debian/dnsdist/etc/dnsdist/dnsdist.conf

override_dh_builddeb:
	dh_builddeb -- -Zgzip
