#!/bin/sh
#
# Install / upgrade database.

set -e

# Execute dbconfig-common
. /usr/share/debconf/confmodule
if [ -f /usr/share/dbconfig-common/dpkg/config.pgsql ]; then
	. /usr/share/dbconfig-common/dpkg/config.pgsql

	# Default values
	dbc_dbuser="pdns"
	dbc_dbname="pdns"
	dbc_first_version="3.0-1"

	dbc_go pdns-backend-pgsql $@
fi

exit 0

