/Makefile.in
/Makefile
/buildroot.sh
/comfun
/config.h
/mkbindist
/pdns.init
/showvar
/stamp-h
/pdns_control
/pdns_server
/pdns_recursor
/pdnsutil
/sdig
/saxfr
/dnslabeltext.cc
/dnsreplay
/dnsbulktest
/testrunner
/rec_control
/nsec3dig
/bind-dnssec.schema.sqlite3.sql.h
/pdns-recursor-*
/dnsdemog
/dnsdist
/dnsgram
/dnspcap2calidns
/dnspcap2protobuf
/dnsscan
/dnsscope
/dnstcpbench
/dnswasher
/ixfrdist
/ixplore
/kvresp
/pdns_notify
/nproxy
/speedtest
/tcpbench
/toysdig
/tsig-tests
version_generated.h
/zone2ldap
/zone2sql
/zone2json
/bindlexer.c
/bindparser.cc
/bindparser.h
/bindparser.hh
/bindparser.output
/dnslabeltext.cc
/test-suite.log
/testrunner.log
/testrunner.trs
/pubsuffix.cc
/calidns
/dumresp
/htmlfiles.h
effective_tld_names.dat
/dnsmessage.pb.cc
/dnsmessage.pb.h
/*.service
/pdns.conf-dist
/stubquery
/fuzz_target_dnsdistcache
/fuzz_target_moadnsparser
/fuzz_target_packetcache
/fuzz_target_proxyprotocol
/fuzz_target_zoneparsertng
