/Makefile.in
/Makefile
/buildroot.sh
/config.h
/mkbindist
/pdns
/showvar
/stamp-h
/pdns_control
/pdns_server
/pdns_recursor
/pdnssec
/precursor
/sdig
/dnslabeltext.cc
/dnsreplay
/dnsbulktest
/testrunner
/rec_control
/nsec3dig
/bind-dnssec.schema.sqlite3.sql.h
/pdns-recursor-*
*~
