/.venv
/*.xml
/*.pid
/*.pyc
/DNSCryptResolver*
/.dnsdist_history
/.history
/*_pb2.py
/__pycache__/
/ca.key
/ca.pem
/ca.srl
/server.chain
/server.csr
/server.key
/server.pem
/server2.chain
/server2.csr
/server2.key
/server2.pem
/server.p12
/server-ec.*
/server-doq.*
/server-doh3.*
/server-ocsp.chain
/server-ocsp.csr
/server-ocsp.key
/server-ocsp.pem
/server-ocsp.p12
/server-tls.*
/server.ocsp
/configs
/dnsdist.log
/dnsdist_test.conf
