# To generate requirements.txt, install pip-tools and run:
#  pip-compile --generate-hashes -U requirements.in

dnspython==2.6.1
pytest
https://github.com/PowerDNS/xfrserver/archive/refs/tags/0.3.zip
requests
setuptools<82
