*.tar.gz
*.tar.bz2
.version
/stamp-h1
/compile
/Makefile
/Makefile.in
/aclocal.m4
/build-aux/*
!/build-aux/gen-version
/autom4te.cache/
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/pdns_recursor.1
/rec_control.1
/dnslabeltext.cc
/ext/yahttp/Makefile
/ext/yahttp/Makefile.in
/ext/yahttp/yahttp/Makefile
/ext/yahttp/yahttp/Makefile.in
/htmlfiles.h
/install-sh
/libtool
/ltmain.sh
/missing
/testrunner
/pdns_recursor
/rec_control
/pdns-recursor-*
/recursor.conf-dist
/ext/Makefile
/ext/Makefile.in
/dnsmessage.pb.cc
/dnsmessage.pb.h
/pdns-recursor.service
/pdns-recursor@.service
/lua.hpp
/test-suite.log
/testrunner.log
/testrunner.trs
/test_libcrypto.log
/test_libcrypto.trs
.venv
html-docs
.doctrees
doctrees
latex
PowerDNS-Recursor.pdf
/*.pb.cc
/*.pb.h
