/html
/pdns
/pdns.pdf
/pdns.txt
/html.tar.bz2
/pdns-expanded.xml
/pdns-expanded.html
/html
/doc-build
/*.[0-9]
/Makefile
/Makefile.in
/.venv
/html-docs
/*.pdf
/latex
/doctrees
html-docs.tar.bz2
/mans
/mans.tmp
/_build
