Source: pdns-recursor
Section: net
Maintainer: PowerDNS Autobuilder <powerdns.support@powerdns.com>
Priority: optional
Standards-Version: 4.5.1
Build-Depends: debhelper (>= 10),
               dh-autoreconf,
               libboost-context-dev,
               libboost-dev,
               libboost-filesystem-dev,
               libboost-program-options-dev,
               libboost-system-dev,
               libboost-test-dev,
               libboost-thread-dev,
               libcap-dev,
               libcurl4-openssl-dev,
               libfstrm-dev,
               libluajit-5.1-dev (>= 2.1.0~beta3+dfsg-5.3) [amd64 arm64] | libluajit-5.1-dev [amd64] | liblua5.3-dev,
               libprotobuf-dev,
               libsnmp-dev,
               libsodium-dev,
               libssl-dev,
               libsystemd-dev,
               pkgconf | pkg-config,
               protobuf-compiler,
               ragel,
               systemd,
               systemd-dev | systemd,
Homepage: https://www.powerdns.com/
Rules-Requires-Root: no

Package: pdns-recursor
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: adduser,
         dns-root-data,
         ${misc:Depends},
         ${shlibs:Depends}
Description: PowerDNS Recursor
 High-performance resolving name server, utilizing multiple
 processor and including Lua scripting capabilities.
