#!/usr/bin/make -f
include /usr/share/dpkg/architecture.mk
include /usr/share/dpkg/pkg-info.mk

# Turn on all hardening flags, as we're a networked daemon.
# Note: blhc (build log hardening check) will find these false positives: CPPFLAGS 2 missing, LDFLAGS 1 missing
export DEB_BUILD_MAINT_OPTIONS = hardening=+bindnow,+pie optimize=-lto
# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# Only enable systemd integration on Linux operating systems
ifeq ($(DEB_HOST_ARCH_OS),linux)
MESON_ARGS += -Dsystemd-service=enabled
MESON_ARGS += -Dsystemd-service-user=pdns
MESON_ARGS += -Dsystemd-service-group=pdns
DH_ARGS += --with systemd
else
MESON_ARGS += -Dsystemd-service=disabled
endif

# Only disable luajit on arm64
ifneq (,$(wildcard /usr/lib/*/pkgconfig/luajit.pc))
MESON_ARGS += -Dlua=luajit
else
MESON_ARGS += -Dlua=lua
endif

%:
	dh $@ --buildsystem=meson \
	  $(DH_ARGS)

override_dh_auto_clean:
	dh_auto_clean
	rm -f dnslabeltext.cc
	chmod +x mkpubsuffixcc || true

# We need clang (LLVM) to link the Rust static library and the C++ code with LTO enabled
# build-id SHA1 prevents an issue with the debug symbols ("export: `-Wl,--build-id=sha1': not a valid identifier")
# disably fortify as it is handled by package build infra
override_dh_auto_configure:
	LDFLAGS="-latomic -fuse-ld=lld -Wl,--build-id=sha1" \
	CC=clang \
	CXX=clang++ \
	PKG_CONFIG_PATH=/opt/lib/pkgconfig dh_auto_configure -- \
	--sysconfdir=/etc/powerdns \
	-Db_lto=true \
	-Db_lto_mode=thin \
	-Db_pie=true \
	-Dhardening-fortify-source=disabled \
	-Dunit-tests=true \
	-Dtls-gnutls=enabled \
	-Ddns-over-tls=enabled \
	-Ddnstap=enabled \
	-Dlibcap=enabled \
	-Dsigners-libsodium=enabled \
	-Dsnmp=enabled \
	-Dnod=enabled \
	$(MESON_ARGS)

override_dh_auto_build-arch:
	dh_auto_build

# Stop installing the Lua config files once we fully moved to YAML configuration
override_dh_auto_install:
	dh_auto_install
	install -d debian/pdns-recursor/usr/share/pdns-recursor/snmp
	install -m 644 -t debian/pdns-recursor/usr/share/pdns-recursor/snmp RECURSOR-MIB.txt
	rm -f debian/pdns-recursor/etc/powerdns/recursor.conf-dist
	rm -f debian/pdns-recursor/etc/powerdns/recursor.yml-dist
	install -m 644 -t debian/pdns-recursor/etc/powerdns debian/recursor.conf

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	dh_auto_test
	-cat testrunner.log
endif

override_dh_gencontrol:
	dh_gencontrol -- $(SUBSTVARS)

# Explicitly set a compression method, as Debian and Ubuntu defaults vary widely,
# and xz support is not available in all tools yet. Removing this override can
# make reprepro fail.
override_dh_builddeb:
	dh_builddeb -- -Zgzip
