#!/bin/sh
#
# Install / upgrade database.

set -e

# Execute dbconfig-common
. /usr/share/debconf/confmodule
if [ -f /usr/share/dbconfig-common/dpkg/config.sqlite3 ]; then
	. /usr/share/dbconfig-common/dpkg/config.sqlite3

	# Default values
	dbc_basepath=/var/lib/powerdns
	dbc_dbname="pdns.sqlite3"
	dbc_first_version="3.0-1"

	dbc_go pdns-backend-sqlite3 $@
fi

exit 0

