[Unit]
Description=dnsdist
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/dnsdist
ExecStart=/usr/bin/dnsdist --supervised $DNSDIST_OPTIONS

[Install]
WantedBy=multi-user.target
