---
name: Trigger specific package build

on:
  workflow_dispatch:
    inputs:
      product:
        description: Product to build
        type: choice
        options:
        - authoritative
        - recursor
        - dnsdist
      os:
        description: OSes to build for, space separated
        type: string
        # please remember to update build-packages.yml as well
        default: >-
          el-7
          el-8
          el-9
          debian-buster
          debian-bullseye
          debian-bookworm
          ubuntu-focal
          ubuntu-jammy
          ubuntu-noble
      ref:
        description: git ref to checkout
        type: string
        default: master
      is_release:
        description: is this a release build?
        type: choice
        options:
        - 'NO'
        - 'YES'

permissions: # least privileges, see https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#permissions
  actions: read
  contents: write # To be able to upload assets as release artifacts
  id-token: write # To sign the provenance in the build packages reusable workflow.

jobs:
  call-build-packages:
    uses: PowerDNS/pdns/.github/workflows/build-packages.yml@master
    with:
      product: ${{ github.event.inputs.product }}
      os: ${{ github.event.inputs.os }}
      ref: ${{ github.event.inputs.ref }}
      is_release: ${{ github.event.inputs.is_release }}
    secrets:
      DOWNLOADS_AUTOBUILT_SECRET: ${{ secrets.DOWNLOADS_AUTOBUILT_SECRET }}
      DOWNLOADS_AUTOBUILT_RSYNCTARGET: ${{ secrets.DOWNLOADS_AUTOBUILT_RSYNCTARGET }}
      DOWNLOADS_AUTOBUILT_HOSTKEY: ${{ secrets.DOWNLOADS_AUTOBUILT_HOSTKEY }}
      PULP_FILE_REPO_NAME: ${{ secrets.PULP_FILE_REPO_NAME }}
      PULP_URL: ${{ secrets.PULP_URL }}
      PULP_CONTENT_URL: ${{ secrets.PULP_CONTENT_URL }}
      PULP_CI_USERNAME: ${{ secrets.PULP_CI_USERNAME }}
      PULP_CI_PASSWORD: ${{ secrets.PULP_CI_PASSWORD }}
      PULP_PDNS_GPG_PUBKEY_MASTER: ${{ secrets.PULP_PDNS_GPG_PUBKEY_MASTER }}
      PULP_PDNS_GPG_PUBKEY: ${{ secrets.PULP_PDNS_GPG_PUBKEY }}
