---
name: 'Build Docker images'

on:
  schedule:
    - cron: '0 4 * * *'

permissions: # least privileges, see https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#permissions
  contents: read
  actions: read

jobs:
  call-build-image-dnsdist:
    uses: PowerDNS/pdns/.github/workflows/build-docker-images.yml@rel/dnsdist-1.9.x
    if: ${{ vars.SCHEDULED_DOCKER }}
    with:
      product: dnsdist
      ref: ${{ github.ref_name }}
      image-name: dnsdist-1.9.x
      image-tags: |-
        latest
      image-description: 'EXPERIMENTAL dnsdist image'
      platforms: linux/amd64,linux/arm64/v8
      push: true
    secrets:
      DOCKERHUB_ORGANIZATION_NAME: ${{ secrets.DOCKERHUB_ORGANIZATION_NAME }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
