---
name: 'Build Docker images'

on:
  schedule:
    - cron: '0 4 * * *'

jobs:
  build:
    name: docker build
    # on a ubuntu-20.04 VM
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        product: ['auth']
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 5
          submodules: recursive
      # this builds packages and runs our unit test (make check)
      - run: docker build --rm -t powerdns-${{ matrix.product }} -f Dockerfile-${{ matrix.product }} .
